# Data-2 Knowledge Check 1

Importing relevant libraries

In [2]:
import pandas as pd
import requests

Pulling data from an API and loading it into a DataFrame

In [3]:
r = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')
data = r.json()['data']
df = pd.DataFrame(data=data)
df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

Finding two descriptive stats on the dataset

In [4]:
df['Population'].median()

319781284.5

In [5]:
df['Population'].max()

326569308

Using query to select rows where population is equal or greater than 322,903,030

In [9]:
df.query('Population >= 322903030')

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states

Select and print the SECOND AND THIRD columns of your data frame

In [54]:
print(df.iloc[:,2:4])

   ID Year  Year
0     2020  2020
1     2019  2019
2     2018  2018
3     2017  2017
4     2016  2016
5     2015  2015
6     2014  2014
7     2013  2013

Select and print the FIRST 4 rows of you data frame.

In [56]:
print(df.iloc[:4])

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states