# Importing relevant libraries

In [2]:
import pandas as pd
import requests

# Pulling data from an API and loading it into a DataFrame

In [3]:
r = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')
data = r.json()['data']
df = pd.DataFrame(data=data)
df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

# Finding two descriptive stats on the dataset

In [4]:
df['Population'].median()

319781284.5

In [5]:
df['Population'].max()

326569308

# Selecting row where the year is 2020

In [6]:
df[df['Year'] == '2020']

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states