In [2]:
import pandas as pd

Reading in Louisville Metro Foreclosure Data

In [3]:
df = pd.read_csv('/Users/danielbrechner/data_1_checks/assets/Louisville_Metro_KY_-_Property_Foreclosures.csv')

Looking at the DataFrame to see what to clean

In [4]:
print(df.shape)
df.head()

(1145, 18)

,House_Nr,Dir,Street_Name,St_Type,Post_Dir,Zip,L_S,CD,Neighborhood,Full_Parcel_ID,Census_Tract,Action_Filed,Case_,Case_Style,Sale_Date,Sale_Price,Purchaser,ObjectId
0,1551,S,10th,St,NaN,40210.0,L,6.0,Algonquin,08-042C-0052-0000,003500-1,2013/01/14 05:00:00+00,13-CI-400193,"Metro v. YRE, LLC, et al.",NaN,$500.00,Metro,1
1,1446,S,11th,St,NaN,40210.0,S,6.0,Park Hill,08-042B-0034-0000,002700,2021/08/13 04:00:00+00,21-CI-400445,CW v. Charles Scott Cunningham et al,2022/05/10 04:00:00+00,"$10,001.00",METRO,2
2,119,N,17th,St,NaN,40203.0,L,4.0,Portland,03-015A-0049-0000,002300-1,2016/11/01 04:00:00+00,16-CI-401694,"CW v. Pyles, Lelle Mae, et al.",2017/11/03 04:00:00+00,"$1,334.00",Metro,3
3,1318,S,17th,St,NaN,40210.0,S,6.0,Park Hill,07-039D-0031-0000,002700-3,2015/02/25 05:00:00+00,15-CI-400432,"Metro v. Supreme International, LLC",2017/04/07 04:00:00+00,$500.00,Metro,4
4,212,N,17th,St,NaN,40203.0,S,5.0,Portland,03-015F-0082-0000,002300-1,2014/08/06 04:00:00+00,14-CI-401513,"CW v. Ingram, Vickie Lynn, et al.",2017/03/10 05:00:00+00,"$7,500.00","West Park Homes, LLC",5

Column names are already in snake case, but lets change the column names to lowercase for consistency

In [5]:
df.columns = df.columns.str.lower()
df.head()

,house_nr,dir,street_name,st_type,post_dir,zip,l_s,cd,neighborhood,full_parcel_id,census_tract,action_filed,case_,case_style,sale_date,sale_price,purchaser,objectid
0,1551,S,10th,St,NaN,40210.0,L,6.0,Algonquin,08-042C-0052-0000,003500-1,2013/01/14 05:00:00+00,13-CI-400193,"Metro v. YRE, LLC, et al.",NaN,$500.00,Metro,1
1,1446,S,11th,St,NaN,40210.0,S,6.0,Park Hill,08-042B-0034-0000,002700,2021/08/13 04:00:00+00,21-CI-400445,CW v. Charles Scott Cunningham et al,2022/05/10 04:00:00+00,"$10,001.00",METRO,2
2,119,N,17th,St,NaN,40203.0,L,4.0,Portland,03-015A-0049-0000,002300-1,2016/11/01 04:00:00+00,16-CI-401694,"CW v. Pyles, Lelle Mae, et al.",2017/11/03 04:00:00+00,"$1,334.00",Metro,3
3,1318,S,17th,St,NaN,40210.0,S,6.0,Park Hill,07-039D-0031-0000,002700-3,2015/02/25 05:00:00+00,15-CI-400432,"Metro v. Supreme International, LLC",2017/04/07 04:00:00+00,$500.00,Metro,4
4,212,N,17th,St,NaN,40203.0,S,5.0,Portland,03-015F-0082-0000,002300-1,2014/08/06 04:00:00+00,14-CI-401513,"CW v. Ingram, Vickie Lynn, et al.",2017/03/10 05:00:00+00,"$7,500.00","West Park Homes, LLC",5

Finding null values

In [6]:
null_counts = df.isnull().sum()
null_counts

house_nr             0
dir                573
street_name          0
st_type              7
post_dir          1133
zip                 31
l_s                 21
cd                  14
neighborhood        12
full_parcel_id       0
census_tract        10
action_filed         0
case_                2
case_style           1
sale_date          166
sale_price         199
purchaser          190
objectid             0
dtype: int64

Let's convert the zipcode to 'str' instead of 'int'. But we need to do something with NaN values first. Let's convert NaN values in the zip column to -1

In [8]:
df['zip'] = df['zip'].fillna(-1)

In [11]:
df.zip.isnull().any()

False

Now we need to convert dtype to int to drop the decimal, then convert to dtype str and only use the first five digits of each value

In [9]:
df['zip'] = df['zip'].astype(int).astype(str).str[:5]

In [12]:
df.head()

,house_nr,dir,street_name,st_type,post_dir,zip,l_s,cd,neighborhood,full_parcel_id,census_tract,action_filed,case_,case_style,sale_date,sale_price,purchaser,objectid
0,1551,S,10th,St,NaN,40210,L,6.0,Algonquin,08-042C-0052-0000,003500-1,2013/01/14 05:00:00+00,13-CI-400193,"Metro v. YRE, LLC, et al.",NaN,$500.00,Metro,1
1,1446,S,11th,St,NaN,40210,S,6.0,Park Hill,08-042B-0034-0000,002700,2021/08/13 04:00:00+00,21-CI-400445,CW v. Charles Scott Cunningham et al,2022/05/10 04:00:00+00,"$10,001.00",METRO,2
2,119,N,17th,St,NaN,40203,L,4.0,Portland,03-015A-0049-0000,002300-1,2016/11/01 04:00:00+00,16-CI-401694,"CW v. Pyles, Lelle Mae, et al.",2017/11/03 04:00:00+00,"$1,334.00",Metro,3
3,1318,S,17th,St,NaN,40210,S,6.0,Park Hill,07-039D-0031-0000,002700-3,2015/02/25 05:00:00+00,15-CI-400432,"Metro v. Supreme International, LLC",2017/04/07 04:00:00+00,$500.00,Metro,4
4,212,N,17th,St,NaN,40203,S,5.0,Portland,03-015F-0082-0000,002300-1,2014/08/06 04:00:00+00,14-CI-401513,"CW v. Ingram, Vickie Lynn, et al.",2017/03/10 05:00:00+00,"$7,500.00","West Park Homes, LLC",5

Let's look at the purchaser column and see if we can make some of the same values with different names consistent

In [ ]:
unique_values = df['purchaser'].unique()
unique_values

array(['Metro', 'METRO', 'West Park Homes, LLC',
       'Habitat for Humanity of Metro Louisville',
       'The 1025 South First Street Land Trust, Ville Ventures, LLC and TCS Homes, LLC as Co-Trustees',
       'LT & JT Investors LLC', 'LT & JT III 502-309-5624',
       'Chicquita G Lindsay', nan, 'metro', 'Chiquita G. Lindsay',
       'Smith, Tony Nathaniel',
       'Magazine Street Development Corporation Inc.',
       'Lewis, Stephen G.', 'Rebound, Inc', 'Carter, David A.',
       'Richard L Dean III', 'DONALD WILLIAM BIBB', 'Lopez, Cristina',
       'Louisville Metro Housing Authority', 'Latarsha D. Jennings',
       'Taylor Enterprises', 'ANDREA M COOKSEY', 'HPI',
       'TAYLOR NEIL DIAZ', 'Julie Barber', "Emmanuel's Properties, LLC",
       'Boyd, Yolanda', 'hpi', 'MIR Properties, LLC', 'Davis, Kevin M.',
       'HiroshioSherrel', 'Leach, Adrian', 'BMCI Properties, LLC',
       'George P. Palmer, Jr', 'Crawford, Terrance Lamont',
       'Pierce, Isaiah Thomas',
       '42nd St. House of Hope Revocable Land Trust',
       'Nunez, Laura Josefina', 'EH Management, LLC',
       'L1C4 Properties, LLC', 'Prince, Marcus', 'CD Woods, LLC',
       'Option Properties, LLC', 'Williamson, Ernest',
       'Davis Commercial Properties, Inc.', 'Luis Romero',
       'Hiroshio J Sherrell', 'Home Rentals in Louisville, LLC',
       'Mount Zion Baptist Church', 'Bray, Vincent W.', 'Fuller Center',
       'Matthew C. Malin', 'Richard McBride', 'Jones, Nanette',
       'Nguyen, Dao Minh',
       'Harris Property Acquisitions & Management LLC', 'VIJAY POOJARY',
       'Hassan J. Almaliki', 'Forrest, Maurice Christopher',
       'Harris Properties of Louisville, LLC', 'RJR Investments OI, LLC',
       'Elie Williams', 'Nathaniel Rudolph', 'Kirk Anthony Krininger',
       '3GMM Properties LLC', 'Christopher E. Kinberger', 'Joe Burnell',
       'Lally, Dennis P.', 'Jones, Andrew Scott', 'Lerner, Shawn',
       'Bruce E Cohen', 'Waddell, Jhana M.', 'Stanford, Jason L.',
       'Artist Row Portland, LLC', 'The Housing Partnership, Inc.',
       'Leonard Eugene Lee', 'Jorge Luis Zenil', 'Burns, Bryan',
       'Walker, Tommie', 'White, Julia D.', 'Northington, Anthony',
       'Changing Lives Investments LLC', 'REBOUND INC', 'Ameshia Elliott',
       'Superior Henderson, LLC', "Taylor's Enterprise, LLC",
       'Davis Commercial Properties', 'Duke, Joshua W.',
       'Beets, David Mathew', 'CLC Group', 'Smith, Albert E.',
       'Kenneth N. Moody', 'Theta Omega, Inc.', 'Shawn T Collins',
       'KWB Housing', 'Katheryn Higgins', 'The Gillespie',
       'H. Michael Hudson', 'Lindsay, Chiquita G.', 'Livers, Arron L.',
       'We Buy Real Estate, LLC', 'Yvonne Lynn McAfee',
       'Expressway Church of Christ, LLC',
       'Glenmary Investment Group, LLC', 'Melissa Ann McCreedy',
       'CLB Development Group LLC', 'Yvonne McCarthey',
       'Mt. Horeb Missionary Baptist Church, Inc.', 'Yvonne McCarthy',
       'AGP Transport, LLC', 'Option Properties LLC',
       'Maurice Christopher Forrest', 'Brown, Chaz L.', 'JOHN ORTHOBER',
       'Sinclair, Alexander Ryan', 'Salomon L Barrientos',
       'Jones, Anthony D.', '4203 Larkwood Avenue Land Trust',
       'Jacklin Sue Gardner & Spencer T. Gardner',
       'Davis Commercial Properties, LLC', 'Jones Wall, Shira Devora',
       'Greg A Shell', 'Kentucky Property Tax Services',
       'Bevan, Jonathan Neil', 'Gypsy, Ritchie', 'Luis E. Romero',
       'Walriccos Simon', 'Robinson, Arthur A. & Pamela D.',
       'Zehnder, James Joseph', 'DAVID BEACH', 'Keith Hicks',
       'STR Capital, LLC', 'Taylor, Thomas Lee, III',
       'Sheehan, James Michael', 'Meyer, Eric L. & Theresa M.',
       'Isabel Sanchez', 'Cyprian Okeke', 'Keith Brock',
       'Brock, Keith Purnell', 'Hassan J Almaliki', 'Awad, Khalid O.',
       'Dodwani Properties, LLC', 'Weiss, Jason', 'Shaik M. Mohluddin',
       'Tarver, Tamara', 'TYWON DORSEY', 'Gerula, Anna Teresa',
       'Suha Z. Mathews', 'MRC Development Group, LLC',
       'Brown, Alfonzo, Leroy Brown, and Alfred Brown', 'Kevin Dunlap',
       'Jennie V. Wright', 'Bell, Toshaunbe Jarrard', 'Gibson, Tony Lee',
       'Williams, Elie, Jr.', 'KTW Capital, LLC',
       'Ballard, Michael Eugene', 'Tercita Jennings', 'Greg Shell',
       'Tangy Hunter-Hughes', 'Jasmine E. Grosskopf',
       'Yazdan Investment, LLC', 'MTG Investments, LLC',
       'EJ Property, LLC', 'Bruce E. Cohen', 'Beth C. Rose', 'WITHDRAWN',
       'Gueye, Papa N.', 'Weathers, Arthur T., Jr.',
       'Scott, Shane Thomas', 'Cole, John', 'White, James Louis',
       'Jesse D. Mayfield', 'Matthew C Malin', 'Lifestone Dynamic, LLC',
       'Peer, Amanda', 'Demissie T. Boku', 'Steven Heath Jones',
       'Rebound, Inc.', 'Beeler and Son Realty Group LLC',
       'Blackbox Rentals, LLC', 'D2 Real Estate, LLC',
       'Le, Bich Thi Hong', "O'Bannon, Kendra", 'PRIORITY MGMT LLC',
       'Haverly, Douglas S.', 'Jordon, Raymond', 'Williams, William L.',
       'Ibrahim, Gamal Kamal', 'Steven J. Levett', 'Ackerman, Ray',
       'Freeman Properties, LLC', 'Ebenezer Missionary Baptist Church',
       'Office Flips LLC and The Property Group LLC', 'Lavell M Jackson',
       'Collins Group B, LLC', 'LT & JT III Investors, LLC',
       'LT & JTIII Investors, LLC', 'Arp, Donovan A.', 'YVONNE MCCAFFE',
       'YVONNE GENTRY', 'Yvonne McAffee', 'Gary Lydell Wathen',
       'Yvonne McAfee', 'TRIBULU, LLC', 'Suite 502 Investments, LLC',
       'Qiutang Li', 'Alan Kleinert Rueff', 'Totten, Elizabeth R.',
       'Brittney T. Harrison', 'Watrous, Gary Bradford',
       'Perception Group, LLC', 'LSPG Enterprises, LLC',
       'Theodore Gilbert Mitchell', 'YVETTE GENTRY', 'ronald beeler',
       'Skydrop, LLC', 'Shaw, Larry C.', 'Marin Yusdemy', 'TYWON DORESY',
       'Renewed Hope, LLC', 'Robert Edward Woerdich', 'Taylor, Tory L.',
       'Richard Bradley', 'Thomas, Chrystal Michelle',
       'Glorious Outcomes Development, LLC', 'Banks, Antoine Demond',
       'Wayne D Eddings', 'Hardin, Freeman A.', 'Li Qiutang',
       'Vernon Douglas Bentley', 'Willie Williams, Jr.', 'SALE WITHDRAWN',
       'Holder Realty', 'FMH Investments, LLC', 'Hardin, Tye J.',
       'Dyann Denise Stewart', 'Robbi Boone', 'Abdelmajid Safir',
       'Bernard Yates', 'Danino, Renen Y.', 'Trowel, Jerry Allan',
       'Jorcino Tula, Fernando Nicolas', 'Mid South Capital Partners',
       'Louisville Grows, Inc', 'Salvation Portland Holdings, LLC',
       'Bruce Cohen', 'Davis Commercial', 'Placido Jose Acosta Hernandez',
       'Cedric Hamilton', 'Matthew Malin', 'William Nelson',
       'Glenn Dale Vanderbilt', 'Taylor, Thomas Darryl',
       'Ronald Harrison', 'Viet Hoang Tran', 'RJDD, LLC',
       'Jeremy D. McClendon', 'Michael David', 'Trotter, Lee Roy',
       'Omer, Janet L.', 'Starks, Sean Lorenzo', 'Zach S. Morris',
       'Lucas M Patrick', 'MBS Remodeling', 'Rory James Gillman',
       '927 Shelby LLC', 'Eric T Watson', 'Lindsey, Darrell Boyd',
       'Jackson, Shirley', 'Zheng, Yong Jin', 'Bryan Gillespie',
       'Eric R. Mueller', 'Yazdan Investment LLC',
       'New Directions Housing Corporation', 'William J. Frey',
       'Crook, Sharon', 'Belinda Shontee', 'Nima Saadinan',
       'McClain, Robert L., Jr.', 'Rose, Daniel O. & Beth',
       'Jesse E Grancis, Jr.', 'Edward W Rhawns', 'Linda A Hokomb',
       'James Meriwether', 'GONZALEZ, ESTEBAN', 'Morris, Monica',
       'DAVID MCCARTHY', '4141 Virginia Ave Land Trust',
       'Brown, Chaz L., et al.', 'Wimsatt Properties LLC',
       'Steve Frick, LLC', 'OKTAY FATHALIZADEH',
       'Davis Commercial Properties, Inc',
       'Davis Commerical Properties, Inc', 'TRADEMARK FLOORS INC',
       'McKree Properties, LLC', 'Chiquanda J. Alston',
       'Brentwood Property Design & Investment, LLC', 'Anh T. Phi'],
      dtype=object)

In [ ]:
df['purchaser'].isnull().any()

True

We need to drop null values before cleaning

In [ ]:
df = df.dropna(subset=['purchaser'])

In [ ]:
df['purchaser'].isnull().any()

False

Looks like there are many different values for 'Metro', let's change them all to same value.

In [ ]:
df.loc[df['purchaser'].str.contains('metro', case=False), 'purchaser'] = 'metro'

In [ ]:
df['purchaser']

0                      metro
1                      metro
2                      metro
3                      metro
4       West Park Homes, LLC
                ...
1139                   metro
1141                   metro
1142              Anh T. Phi
1143                   metro
1144                   metro
Name: purchaser, Length: 955, dtype: object

Here we see metro values are consistent